:root {
  --color-primary-pink: hsl(322, 100%, 66%);
  --color-primary-pink-light: hsl(321, 100%, 78%);
  --color-primary-red: hsl(0, 100%, 63%);
  --color-neutral-cyan-dark: hsl(192, 100%, 9%);
  --color-neutral-pale-blue: hsl(207, 100%, 98%);

  --font-headings: "Poppins", sans-serif;
  --font-body: "Open Sans", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  color-scheme: dark light;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: var(--font-body);
  font-weight: 400;
  font-size: 1.6rem;
  color: var(--color-neutral-cyan-dark);
}

img,
picture,
svg,
video {
  display: block;
  width: 100%;
}

.container {
  width: min(118rem, 100%);
  margin: 0 auto;
  padding: 0 4rem;
}

.header {
  &__proper {
    padding: 3rem 4rem 5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    width: 20rem;
  }
}

.main {
  &__hero {
    // width: 85%;
    padding: 0 2rem;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    row-gap: 8rem;
    align-items: center;
  }

  &__hero-text {
    text-align: center;

    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    align-items: center;
  }

  &__hero-p {
    width: 50%;
  }

  &__hero-stats {
    width: 80%;
    margin-bottom: 25rem;

    display: flex;
    justify-content: space-between;
  }

  &__hero-stats-box {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }

  &__hero-stats-icon {
    width: 3rem;
    height: 3rem;
  }

  &__hero-stats-img {
    height: 100%;
  }

  &__hero-stats-sub {
    color: hsl(193, 5%, 35%);
    font-size: 1.9rem;

    align-self: center;
  }

  &__features {
    width: 100%;
  }

  &__features-proper {
    // padding: 20rem 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__features-text {
    width: 42%;

    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }

  &__features-illustration {
    width: 42%;
  }

  &__features--1,
  &__features--3 {
    background-color: #f6fbff;
    position: relative;
    margin-bottom: 18rem;

    &::before {
      content: "";
      background-image: url(../images/bg-section-top-desktop-1.svg);
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      top: -16.5rem;
      left: 0;
      display: block;
      width: 100%;
      height: 16.5rem;
    }

    &::after {
      content: "";
      background-image: url(../images/bg-section-bottom-desktop-1.svg);
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      display: block;
      bottom: -13.9rem;
      width: 100%;
      height: 13.9rem;
    }
  }

  &__features--2 {
    margin-bottom: 18rem;
  }

  &__cta {
    margin-bottom: 18rem;
    padding: 10rem 0;
  }

  &__cta-proper {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2.5rem;
  }
}

.footer {
  background-color: var(--color-neutral-cyan-dark);
  color: var(--color-neutral-pale-blue);
  position: relative;
  padding: 5rem 0;

  &::before {
    content: "";
    background-image: url(../images/bg-footer-top-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: -16.5rem;
    left: 0;
    display: block;
    width: 100%;
    height: 16.5rem;
  }

  &::after {
    content: "";
    background-image: url(../images/bg-footer-bottom-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    display: block;
    bottom: -13.9rem;
    width: 100%;
    height: 13.9rem;
  }

  &__proper {
    display: flex;
  }
}

.btn {
  border-radius: 100rem;
  text-decoration: none;
  font-family: var(--font-body);
  display: block;
  transition: opacity 0.2s;

  &:hover,
  &:active {
    opacity: 0.6;
  }

  &--header {
    &:link,
    &:visited {
      border: 1px solid var(--color-primary-pink);
      color: var(--color-primary-pink);
      padding: 0.5em 1.5em;
      font-size: 1.5rem;
    }
  }

  &--hero {
    &:link,
    &:visited {
      background-color: var(--color-primary-pink);
      color: var(--color-neutral-pale-blue);
      font-weight: 600;
      font-size: 1.4rem;
      padding: 1em 3.5em;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    }
  }

  &--cta {
    &:link,
    &:visited {
      background-color: var(--color-primary-pink);
      font-weight: 600;
      color: var(--color-neutral-pale-blue);
      font-size: 1.5rem;
      padding: 1em 3.5em;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    }
  }
}

.heading {
  font-family: var(--font-headings);

  &--1 {
    font-size: 4.5rem;
  }

  &--2 {
    font-size: 3rem;
  }

  &--stats {
    font-size: 7rem;
    line-height: 1;
  }
}
